<div id="costManageForm" class="costManageForm">
	<div class="eui-form-item">
	        <div class="eui-form-item-caption">
	          <label for="">日期范围</label>
	        </div>
	        <div class="eui-form-item-control">
	          <input type="radio" id="radio-2" name="radio" class="eui-radio">
	          <label for="radio-2">年</label>
	          <input type="radio" id="radio-3" name="radio" class="eui-radio">
	          <label for="radio-3">月</label>

	            <select class="eui-select">
              <option value="1">demo1</option>
              <option value="2">demo2</option>
              <option value="3">demo3</option>
              <option value="4">demo4</option>
              <option value="5">demo5</option>
          	    </select>

          	    <input type="checkbox" id="checkbox-4" name="checkbox" class="eui-checkbox-variant">
          <label for="checkbox-4">多选4</label>
          <input type="checkbox" id="checkbox-5" name="checkbox" class="eui-checkbox-variant" disabled>
          <label for="checkbox-5">多选5</label>
	        </div>
	  </div>	
</div>
